@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Inter:wght@400;500;600;700&display=swap');

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Inter', sans-serif;

  --primary-text-color: #fff;

  background: #1f8bc4;
  background: radial-gradient(circle, #1f8bc4 0%, #09092b 100%);
}

body {
  margin: 0;
  padding: 20px 50px 0 50px;
  font-family: var(--font-primary);
  color: var(--primary-text-color);
}
